<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vic.ck.api.personal.mapper.CustomerDiscountTicketMapper">

	<sql id="base_list">
		a.`id` AS id ,
		a.`customer_id` AS customerId ,
		a.`merchant_id` AS merchantId ,
		a.`activity_id` AS activityId ,
		a.`merchant_name` AS merchantName ,
		a.`discount` AS discount ,
		a.`min_amount` AS minAmount ,
		a.`create_time` AS createTime ,
		a.`start_date` AS startDate ,
		a.`end_time` AS endTime ,
		a.`used_time` AS usedTime ,
		a.`status` AS status
	</sql>

	<!--查询列表 -->
	<select id="list" resultType="com.vic.ck.entity.CustomerDiscountTicket">
		SELECT
		<include refid="base_list" />
		FROM customer_discount_ticket a
		WHERE 1=1 	
		AND a.`customer_id` = #{userId}
		<if test="status !=null">
		AND a.status= #{status} 	 <!-- 0-未使用 1-已使用 2-已过期 3-已删除 -->
		 </if>
		<if test="merchantId !=null">
			AND a.`merchant_id` = #{merchantId}
		</if>
		ORDER BY id DESC
	</select>

	<!--根据主键查询对象 -->
	<select id="findById" resultType="com.vic.ck.entity.CustomerDiscountTicket">
		SELECT
		<include refid="base_list" />
		FROM customer_discount_ticket a
		WHERE id = #{id}
	</select>

	<!--新增数据 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into customer_discount_ticket
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerId !=null and customerId !='' ">`customer_id`, </if>
			<if test="merchantId !=null and merchantId !='' ">`merchant_id`, </if>
			<if test="activityId !=null and activityId !='' ">`activity_id`, </if>
			<if test="merchantName !=null and merchantName !='' ">`merchant_name`, </if>
			<if test="discount !=null and discount !='' ">`discount`, </if>
			<if test="minAmount !=null and minAmount !='' ">`min_amount`, </if>
			<if test="startDate !=null and startDate !='' ">`start_date`, </if>
			<if test="endTime !=null and endTime !='' ">`end_time`, </if>
			<if test="status !=null and status !='' ">`status`</if>
            <if test="rule_jian !=null and rule_jian !='' ">`rule_jian`</if>
            <if test="rule_suijix !=null and rule_suijix !='' ">`rule_suijix`</if>
            <if test="rule_suijixx !=null and rule_suijixx !='' ">`rule_suijixx`</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerId !=null and customerId !='' ">#{customerId}, </if>
			<if test="merchantId !=null and merchantId !='' ">#{merchantId}, </if>
			<if test="activityId !=null and  activityId !='' ">#{activityId}, </if>
			<if test="merchantName !=null and merchantName !='' ">#{merchantName}, </if>
			<if test="discount !=null and discount !='' ">#{discount}, </if>
			<if test="minAmount !=null and minAmount !='' ">#{minAmount}, </if>
			<if test="startDate !=null and startDate !='' ">#{startDate}, </if>
			<if test="endTime !=null and endTime !='' ">#{endTime}, </if>
			<if test="status !=null and status !='' ">#{status}</if>
            <if test="rule_jian !=null and rule_jian !='' ">#{rule_jian}</if>
            <if test="rule_suijix !=null and rule_suijix !='' ">#{rule_suijix}</if>
            <if test="rule_suijixx !=null and rule_suijixx !='' ">#{rule_suijixx}</if>
		</trim>
	</insert>


	<!--更新数据 -->
	<update id="update" parameterType="com.vic.ck.entity.CustomerDiscountTicket">
		update customer_discount_ticket
		<set>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="merchantId != null">`merchant_id` = #{merchantId}, </if>
			<if test="activityId != null">`activity_id` = #{activityId}, </if>
			<if test="merchantName != null">`merchant_name` = #{merchantName}, </if>
			<if test="discount != null">`discount` = #{discount}, </if>
			<if test="minAmount != null">`min_amount` = #{minAmount}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="startDate != null">`start_date` = #{startDate}, </if>
			<if test="endTime != null">`end_time` = #{endTime}, </if>
			<if test="usedTime != null">`used_time` = #{usedTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<!-- 修改状态 -->
	<update id="updateStatus">
		update customer_discount_ticket set status = #{status} where id = #{id}
	</update>

	<!--删除数据 -->
	<delete id="delete">
		delete from customer_discount_ticket where id in
		<foreach item="item" collection="ids" open="(" separator=","	close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 优惠券是否过期 -->	
	<update id="overduedUpdate">
		UPDATE customer_discount_ticket SET STATUS = 2 WHERE end_time &gt;= NOW()
	</update>

</mapper>