<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.vic.ck.console.config.mapper.CommissionMapper">
    <!-- 查询所有基础配置的数据 -->
    <select id="list" resultType="com.vic.ck.entity.BasicConfig">
        SELECT
          a.id as id,
          a.commission_type as commission_type,
          a.commission_open as commission_open,
          a.commission_amount as commission_amount
        FROM
          basic_config a
        where
          type = 'commission'
    </select>

    <!-- 根据id获取基础配置的详细信息 -->
    <select id="findById" resultType="com.vic.ck.entity.BasicConfig">
        SELECT
          a.id as id,
          a.commission_type as commission_type,
          a.commission_open as commission_open,
          a.commission_amount as commission_amount
        FROM
          basic_config a
        WHERE
          a.id=#{id}
    </select>

    <!-- 修改基础配置 -->
    <update id="update" parameterType="com.vic.ck.entity.BasicConfig">
        update basic_config set
        commission_open=#{commission_open},
        commission_amount=#{commission_amount}
        where id=#{id};
    </update>

</mapper>