<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vic.ck.console.activity.mapper.FullLimitnMapper">

    <sql id="base_list">
		a.`id` AS id ,
		a.`type` AS type ,
		a.`title` AS title ,
		a.`icon` AS icon ,
		a.`content` AS content ,
		a.`start_date` AS startDate ,
		a.`end_date` AS endDate ,
		a.`enabled` AS enabled ,
		a.`rule` AS rule ,
		a.`rule_reduce` AS ruleReduce,
		a.`rule_discount` AS ruleDiscount,
		a.`rule_piecereduce` AS rule_piecereduce,
		a.`rule_piecediscount` AS rule_piecediscount,
		a.`rule_more` AS rule_more,
		a.`apply` AS apply,
		a.`commodity` AS commodity,
		a.`create_time` AS createTime,
		a.`merchant_id` AS merchantid
	</sql>

    <!--查询列表 -->
    <select id="list" resultType="com.vic.ck.entity.PlatformActivityPulllimitn">
        SELECT
        <include refid="base_list"/>
        FROM platform_activity_pullLimitn a
        WHERE 1=1
        <if test="enabled != null">
            AND a.`enabled` = #{enabled}
        </if>
        <if test="type !=null">
            AND a.type = #{type}
        </if>
        <if test="name !=null and name !=''">
            AND a.`title` LIKE CONCAT('%', #{name},'%')
        </if>
        <if test="startDate !=null">
            AND a.start_date &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND a.end_date &lt;= #{endDate}
        </if>
        <if test="merchantId !=null">
            AND a.merchant_Id &lt;= #{merchantId}
        </if>
        ORDER BY id DESC
    </select>

    <!--根据主键查询对象 -->
    <select id="findById" resultType="com.vic.ck.entity.PlatformActivityPulllimitn">
        SELECT
        <include refid="base_list"/>
        FROM platform_activity_pullLimitn a
        WHERE id = #{id}
    </select>

    <select id="findByIds" resultType="com.vic.ck.entity.PlatformActivityPulllimitn">
        SELECT
        <include refid="base_list"/>
        FROM platform_activity_pullLimitn a
        WHERE 1=1 AND a.id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <!-- 满减活动详情  -->
    <select id="discountCouponById" resultType="com.vic.ck.entity.PlatformActivityPulllimitn">
        SELECT
        <include refid="base_list"/>
        FROM platform_activity_pullLimitn
        WHERE a.`id` = #{id}
    </select>

    <!--新增数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into platform_activity_pullLimitn
        (
        <trim suffixOverrides=",">
            <if test="type !=null and type !='' ">`type`,</if>
            <if test="title !=null and title !='' ">`title`,</if>
            <if test="icon !=null and icon !='' ">`icon`,</if>
            <if test="content !=null and content !='' ">`content`,</if>
            <if test="startDate !=null and startDate !='' ">`start_date`,</if>
            <if test="endDate !=null and endDate !='' ">`end_date`,</if>
            <if test="enabled !=null and enabled !='' ">`enabled`,</if>
            <if test="rule !=null and rule !='' ">`rule`,</if>
            <if test="ruleReduce !=null and ruleReduce !='' ">`rule_reduce`,</if>
            <if test="ruleDiscount !=null and ruleDiscount !='' ">`rule_discount`,</if>
            <if test="rulepiecereduce !=null and rulepiecereduce !='' ">`rule_piecereduce`,</if>
            <if test="rulepiecediscount !=null and rulepiecediscount !='' ">`rule_piecediscount`,</if>
            <if test="rulemore !=null and rulemore !='' ">`rule_more`,</if>
            <if test="createTime !=null and createTime !='' ">`create_time`,</if>
            <if test="apply !=null and apply !='' ">`apply`,</if>
            <if test="commodity !=null and commodity !='' ">`commodity`,</if>
            <if test="merchantId !=null and merchantId !='' ">`merchant_Id`,</if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="type !=null and type !='' ">#{type},</if>
            <if test="title !=null and title !='' ">#{title},</if>
            <if test="icon !=null and icon !='' ">#{icon},</if>
            <if test="content !=null and content !='' ">#{content},</if>
            <if test="startDate !=null and startDate !='' ">#{startDate},</if>
            <if test="endDate !=null and endDate !='' ">#{endDate},</if>
            <if test="enabled !=null and enabled !='' ">#{enabled},</if>
            <if test="rule !=null and rule !='' ">#{rule},</if>
            <if test="ruleReduce !=null and ruleReduce !='' ">#{ruleReduce},</if>
            <if test="ruleDiscount !=null and ruleDiscount !='' ">#{ruleDiscount},</if>
            <if test="rulepiecereduce !=null and rulepiecereduce !='' ">#{rulepiecereduce},</if>
            <if test="rulepiecediscount !=null and rulepiecediscount !='' ">#{rulepiecediscount},</if>
            <if test="rulemore !=null and rulemore !='' ">#{rulemore},</if>
            <if test="createTime !=null and createTime !='' ">#{createTime},</if>
            <if test="apply !=null and apply !='' ">#{apply},</if>
            <if test="commodity !=null and commodity !='' ">#{commodity},</if>
            <if test="merchantId !=null and merchantId !='' ">#{merchantId},</if>
        </trim>
        )
    </insert>


    <!--更新数据 -->
    <update id="update" parameterType="com.vic.ck.entity.PlatformActivityPulllimitn">
        update platform_activity_pullLimitn
        <set>
            <trim suffixOverrides=",">
                <if test="type !=null ">`type` = #{type},</if>
                <if test="title !=null  ">`title` = #{title},</if>
                <if test="icon !=null   ">`icon` = #{icon},</if>
                <if test="content !=null  ">`content` = #{content},</if>
                <if test="startDate !=null ">`start_date` = #{startDate},</if>
                <if test="endDate !=null">`end_date` = #{endDate},</if>
                <if test="enabled !=null  ">`enabled` = #{enabled},</if>
                <if test="rule !=null ">`rule` = #{rule},</if>
                <if test="ruleReduce !=null ">`rule_reduce` = #{ruleReduce},</if>
                <if test="ruleDiscount !=null ">`rule_discount` = #{ruleDiscount},</if>
                <if test="rulepiecereduce !=null ">`rule_piecereduce` = #{rulepiecereduce},</if>
                <if test="rulepiecediscount !=null ">`rule_piecediscount` = #{rulepiecediscount},</if>
                <if test="rulemore !=null ">`rule_more` = #{rulemore},</if>
                <if test="createTime !=null ">`create_Time` = #{createTime},</if>
                <if test="apply !=null ">`apply` = #{apply},</if>
                <if test="commodity !=null ">`commodity` = #{commodity},</if>
                <if test="merchantId !=null ">`merchant_Id` = #{merchantId},</if>
            </trim>
        </set>
        where id = #{id}
    </update>

    <!--删除数据 -->
    <delete id="delete">
        delete from platform_activity_pullLimitn where id in
        <foreach item="item" collection="ids" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
    </delete>


</mapper>