.icon-index {
	background-image: url("../images/icon-index.png")
}

.icon-index-arrows-top {
	background-position: -0px -0px;
	width: 14px;
	height: 11px
}

.icon-index-add {
	background-position: -0px -11px;
	width: 12px;
	height: 12px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt25 {
	margin-top: 25px
}

.mt30 {
	margin-top: 30px
}

.mt40 {
	margin-top: 40px
}

.mt50 {
	margin-top: 50px
}

.mt60 {
	margin-top: 60px
}

.mt70 {
	margin-top: 70px
}

.mt80 {
	margin-top: 80px
}

.mt90 {
	margin-top: 90px
}

.mt100 {
	margin-top: 100px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.ml25 {
	margin-left: 25px
}

.ml30 {
	margin-left: 30px
}

.ml40 {
	margin-left: 40px
}

.ml50 {
	margin-left: 50px
}

.ml60 {
	margin-left: 60px
}

.ml70 {
	margin-left: 70px
}

.ml80 {
	margin-left: 80px
}

.ml90 {
	margin-left: 90px
}

.ml100 {
	margin-left: 100px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.mb25 {
	margin-bottom: 25px
}

.mb30 {
	margin-bottom: 30px
}

.mb40 {
	margin-bottom: 40px
}

.mb50 {
	margin-bottom: 50px
}

.mb60 {
	margin-bottom: 60px
}

.mb70 {
	margin-bottom: 70px
}

.mb80 {
	margin-bottom: 80px
}

.mb90 {
	margin-bottom: 90px
}

.mb100 {
	margin-bottom: 100px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr25 {
	margin-right: 25px
}

.mr30 {
	margin-right: 30px
}

.mr40 {
	margin-right: 40px
}

.mr50 {
	margin-right: 50px
}

.mr60 {
	margin-right: 60px
}

.mr70 {
	margin-right: 70px
}

.mr80 {
	margin-right: 80px
}

.mr90 {
	margin-right: 90px
}

.mr100 {
	margin-right: 100px
}

.pt10 {
	padding-top: 10px
}

.pt20 {
	padding-top: 20px
}

.pt30 {
	padding-top: 30px
}

.pt50 {
	padding-top: 50px
}

.pb10 {
	padding-bottom: 10px
}

.pb20 {
	padding-bottom: 20px
}

.pb30 {
	padding-bottom: 30px
}

.pb50 {
	padding-bottom: 50px
}

.tal {
	text-align: left
}

.tac {
	text-align: center
}

.tar {
	text-align: right
}

.pr20 {
	padding-right: 20px
}

.w400 {
	width: 400px
}

.w760 {
	width: 760px
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap
}

.table-cell-auto {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	width: 20000px
}

input[type="button"],
input[type="submit"],
input[type="number"],
input[type="reset"] {
	-webkit-appearance: none
}

textarea {
	-webkit-appearance: none
}

.m-table-cell-auto {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	width: 2000000px;
	white-space: normal
}

.m-table-cell {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap
}

.hide {
	display: none !important
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-family: "Microsoft YaHei", Arial, Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
	font-weight: 400;
	background: #fff;
	line-height: 1.438
}

body {
	font-size: 12px
}

body a {
	text-decoration: none
}

/*body a:hover {
	color: #e64608 !important
}
*/
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
	list-style: none
}

li {
	list-style: none
}

img {
	border: none
}

em,
i {
	font-style: normal
}

.fl {
	float: left
}

.fr {
	float: right
}

.cf:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ''
}

* html .cf {
	height: 1%
}

*+html .cf {
	height: 1%
}

.cf {
	display: block;
	clear: both
}

*:focus {
	outline: none
}

.ac {
	width: 1200px;
	margin: 0 auto
}

input {
	outline: none;
	font-size: 14px
}

input[type="button"],
input[type="submit"],
input[type="number"],
input[type="reset"] {
	-webkit-appearance: none
}

textarea {
	-webkit-appearance: none
}

.icon {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.clearfix:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden
}

* html .clearfix {
	height: 1%
}

*+html .clearfix {
	height: 1%
}

.clearfix {
	display: block;
	clear: both
}

input,
textarea {
	outline: none;
	resize: none
}

input[type="button"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

select {
	height: 22px;
	line-height: 18px;
	padding: 2px 0;
	outline: none
}

.m_cell_hd,
.m_cell_ft {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden
}

.m_cell_primary {
	width: 2000px;
	white-space: normal;
	line-height: 15px
}

.header {
	background: url(../images/img_01.jpg) no-repeat left top;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	position: relative
}

.header h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	position: absolute;
	right: 25px;
	line-height: 50px;
	bottom: 0
}

.header h3 a {
	color: #fff
}

.header h3 a:hover {
	color: #fff !important
}
li a:hover{
	coleor : !important
}

.header h1 {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	line-height: 50px;
	padding-top: 15px
}

.img,
.resiger {
	max-width: 750px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.img img,
.resiger img {
	display: block;
	width: 100%
}

.resiger {
	padding: 20px 40px 0
}

.resiger .form li {
	position: relative;
	max-width: 582px;
	margin: 0 auto;
	margin-top: 25px
}

.resiger .form li .text_info {
	display: block;
	width: 100%;
	height: 42px;
	line-height: 40px;
	border: 1px #3e3d3d solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #fff;
	padding-left: 10px;
	font-size: 14px;
	color: #7f7b7b
}

.resiger .form li .text_info::-webkit-input-placeholder {
	color: #7f7b7b
}

.resiger .form li .text_info:-moz-input-placeholder {
	color: #7f7b7b
}

.resiger .form li .text_info::-moz-input-placeholder {
	color: #7f7b7b
}

.resiger .form li .text_info:-ms-input-placeholder {
	color: #7f7b7b
}

.resiger .form  a.get_code {
	position: absolute;
	right: 8px;
	top: 6px;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	background-color: #f32a0a;
	color: #fff;
	font-size: 14px;
	padding: 0 10px
}

.resiger .form p {
	font-size: 14px;
	line-height: 30px;
	color: #000;
	position: relative;
	padding-left: 20px
}

.resiger .form p a {
	color: #f50808;
	display: inline
}

.resiger .form p i {
	position: absolute;
	width: 12px;
	height: 12px;
	border: 1px #f50808 solid;
	left: 0;
	top: 50%;
	margin-top: -7px
}

.resiger .form p i.on {
	background: url(../images/img_03.jpg) no-repeat center center
}

.resiger .btn {
	 width: 100%;
	padding-top: 20px;
}
.resiger .btn li {
	position: relative;
	max-width: 582px;
	margin: 0 auto;
	margin-top: 25px
}


.resiger .btn input {
	display: block;
	width: 70%;
	height: 40px;
	border: 0;
	background-color: #f50808;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	max-width: 582px;
	margin: 0 auto
}

.resiger .btn p {
	text-align: center;
	font-size: 14px;
	color: #2f09f0;
	line-height: 45px
}


/*# sourceMappingURL=maps/style.css.map */