<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.vic.ck.console.platform.mapper.PlatformCategoryAdPositionMapper">

	<sql id="base_list">
		a.`id` AS id ,
		a.`city_id` AS cityId ,
		a.`merchant_category` AS merchantCategory ,
		a.`merchant_id` AS merchantId ,
		a.`platform_desc` AS platformDesc ,
		a.`icon` AS icon ,
		a.`enabled` AS enabled ,
		a.`create_time` AS createTime
	</sql>

	<!--查询列表 -->
	<select id="list" resultType="com.vic.ck.entity.PlatformCategoryAdPosition">
		SELECT
		<include refid="base_list" />
		,b.`name` AS merchantName
		,c.`name` AS merchantCategoryName
		,d.`name` AS cityName
		FROM platform_category_ad_position a
		LEFT JOIN merchant b ON a.`merchant_id` = b.`id`
		LEFT JOIN platform_merchant_category c ON a.`merchant_category` = c.`id`
		LEFT JOIN sys_area d ON a.`city_id` = d.`id`
		WHERE 1=1
		<if test="name !=null and name !=''">
			AND b.`name` LIKE CONCAT('%', #{name}, '%')
		</if>
		<if test="enabled != null">
			AND a.`enabled` = #{enabled}
		</if>
		<if test="categoryId != null">
			AND a.`merchant_category` = #{categoryId}
		</if>
		<if test="cityId != null">
			AND a.`city_id` = #{cityId}
		</if>
		
		ORDER BY a.id DESC
	</select>

	<!--根据主键查询对象 -->
	<select id="findById" resultType="com.vic.ck.entity.PlatformCategoryAdPosition">
		SELECT
		<include refid="base_list" />
		,b.`name` AS merchantName
		,c.`name` AS merchantCategoryName
		,d.`name` AS cityName
		FROM platform_category_ad_position a
		LEFT JOIN merchant b ON a.`merchant_id` = b.`id`
		LEFT JOIN platform_merchant_category c ON a.`merchant_category` = c.`id`
		LEFT JOIN sys_area d ON a.`city_id` = d.`id`
		WHERE a.id = #{id}
	</select>

	<!--批量查询对象 -->
	<select id="findByIds" resultType="com.vic.ck.entity.PlatformCategoryAdPosition">
		SELECT
		<include refid="base_list" />
		FROM platform_category_ad_position a
		WHERE a.id in
		<foreach item="item" collection="ids" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</select>


	<!--新增数据 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into platform_category_ad_position
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cityId !=null and cityId !='' ">`city_id`, </if>
			<if test="merchantCategory !=null and merchantCategory !='' ">`merchant_category`, </if>
			<if test="merchantId !=null and merchantId !='' ">`merchant_id`, </if>
			<if test="platformDesc !=null and platformDesc !='' ">`platform_desc`, </if>
			<if test="icon !=null and icon !='' ">`icon`, </if>
			<if test="enabled !=null and enabled !='' ">`enabled`, </if>
			<if test="createTime !=null and createTime !='' ">`create_time`</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cityId !=null and cityId !='' ">#{cityId}, </if>
			<if test="merchantCategory !=null and merchantCategory !='' ">#{merchantCategory}, </if>
			<if test="merchantId !=null and merchantId !='' ">#{merchantId}, </if>
			<if test="platformDesc !=null and platformDesc !='' ">#{platformDesc}, </if>
			<if test="icon !=null and icon !='' ">#{icon}, </if>
			<if test="enabled !=null and enabled !='' ">#{enabled}, </if>
			<if test="createTime !=null and createTime !='' ">#{createTime}</if>
		</trim>
	</insert>


	<!--更新数据 -->
	<update id="update" parameterType="com.vic.ck.entity.PlatformCategoryAdPosition">
		update platform_category_ad_position
		<set>
			<if test="cityId != null">`city_id` = #{cityId}, </if>
			<if test="merchantCategory != null">`merchant_category` = #{merchantCategory}, </if>
			<if test="merchantId != null">`merchant_id` = #{merchantId}, </if>
			<if test="platformDesc != null">`platform_desc` = #{platformDesc}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="enabled != null">`enabled` = #{enabled}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>

	<!--删除数据 -->
	<delete id="delete">
		delete from platform_category_ad_position where id in
		<foreach item="item" collection="ids" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>

</mapper>