<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.vic"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 启用注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">

			<bean id="jsonConverter"
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes" value="text/json;charset=UTF-8" />
				<!--  <property name="objectMapper"> 
	                <bean class="com.vic.ck.api.handler.conver.JsonObjectMapper"></bean> 
	             </property>  -->
				<!-- 设置不输出null字段 -->
                <!--				<property name="objectMapper">
                                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                                        <property name="serializationInclusion" value="NON_NULL" />
                                    </bean>
                                </property>-->
                <!-- 设置输出null字段转为"" -->
                <property name="objectMapper">
                    <bean class="com.vic.wroot.common.util.JsonObjectMapper"></bean>
                </property>
			</bean>

			<!-- <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"> 
				<property name="supportedMediaTypes"> <list> <value>application/json;charset=UTF-8</value> 
				<value>text/html;charset=UTF-8</value>避免IE出现下载JSON文件的情况 </list> </property> 
				</bean> -->

		</mvc:message-converters>
	</mvc:annotation-driven>


	<!-- 走SPRINGMVC的静态资源 -->
	<mvc:resources mapping="/uj/**" location="/uj/" />


	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 文件大小 bytes -->
		<property name="maxUploadSize" value="-1" />
	</bean>

	<!-- 视图解释类 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/jsp/" />
		<property name="suffix" value=".jsp" /><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
	</bean>



	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh_CN" />
	</bean>
	<!-- 拦截器 -->
	<mvc:interceptors>


		<!-- 后台保存最后一次请求 -->
		<mvc:interceptor>
			<mvc:mapping path="/console/**/" />
			<mvc:exclude-mapping path="/uj/**" />
			<mvc:exclude-mapping path="/ueditor/**" />
			<mvc:exclude-mapping path="/*/login" />
			<mvc:exclude-mapping path="/console/ajax/**" />
			<mvc:exclude-mapping path="/*/logout" />
			<bean class="com.vic.base.interceptor.SaveRequestInterceptor" />
		</mvc:interceptor>

		<!-- 后台登录 权限拦截 -->
		<mvc:interceptor>
			<mvc:mapping path="/console/**" />
			<mvc:exclude-mapping path="/uj/**" />
			<mvc:exclude-mapping path="/ueditor/**" />
			<mvc:exclude-mapping path="/console/ajax/**" />
			<mvc:exclude-mapping path="/test/**" />
			<mvc:exclude-mapping path="/*/login" />
			<mvc:exclude-mapping path="/*/logout" />
			<bean class="com.vic.base.interceptor.AuthenticationInterceptor" />
		</mvc:interceptor>




		<!--国际化资源切换（根据请求参数中的locale参数自动切换） -->
		<mvc:interceptor>
			<mvc:mapping path="/site/**" />
			<!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 -->
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>   
